# 변수

In [2]:
12340*1/2

6170.0

In [4]:
abc = 12340

In [5]:
type(abc)

int

In [6]:
print(abc*1/2)

6170.0

In [7]:
type(abc*1/2)

float

In [8]:
12340 * 1/4

3085.0

# 문자열

In [9]:
print("String test")

String test

In [10]:
type("String test")

str

In [11]:
print('String test')

String test

In [14]:
string1='string test'
string2="string test2"
print(string1)
print(string2)

string test
string test2

In [15]:
print(type(string1))
print(type(string2))

<class 'str'>
<class 'str'>

In [16]:
string3 = 'this is a "double" quotation test'
string4 = "this is a 'single' quotation test"
print(string3)
print(string4)

this is a "double" quotation test
this is a 'single' quotation test

In [19]:
long_string='''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있다
보다시피 한번에 여러행의 문자열이 나오는 것을 
확인할 수 있다
큰따옴표(")와 작은 따옴표(')도 입력할 수 있다'''
# 주석...
# 두줄 주석...
''' 
주석가능
주석가능
주석가능
'''

' \n주석가능\n주석가능\n주석가능\n'

In [20]:
print(long_string)

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있다
보다시피 한번에 여러행의 문자열이 나오는 것을
확인할 수 있다
큰따옴표(")와 작은 따옴표(')도 입력할 수 있다

# 리스트

In [21]:
# 리스트 만들기:[] cf. 튜플(())-readonly, 딕토러니({key:value}), 세트
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90, 95, 85, 80
student1 =[90,95,85,80]
type(student1)

list

In [22]:
print(student1)

[90, 95, 85, 80]

In [23]:
print(student1[0])

90

In [24]:
print(student1[3])

80

In [25]:
print(student1[-1])

80

In [27]:
print(student1[-2])

85

In [28]:
student1[1] =100
print(student1)

[90, 100, 85, 80]

In [29]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']

In [31]:
print(myFriends[-1])

Mary

In [33]:
mixedList = [0, 2, 3.14, 'python','program', True, myFriends]
print(mixedList)

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [34]:
# 리스트 다루기
# 리스트 더하기와 곱하기
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
list_con = list_con1 * 3
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [41]:
# 리스트 중 일부 항목 가져오기
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:5])
print(list_data[4:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2, 3, 4]
[4, 5, 6, 7, 8, 9]

In [42]:
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [44]:
# 리스트에서 항목의 존재 여부 확인하기
list_data1=[1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [54]:
# 리스트 메소드 활용하기
myFriends = ['jamse', 'Robert', 'Lisa',"mary"]
print(myFriends)

['jamse', 'Robert', 'Lisa', 'mary']

In [55]:
myFriends.append('Thomas') #thomas 추가
print(myFriends)

['jamse', 'Robert', 'Lisa', 'mary', 'Thomas']

In [56]:
myFriends.insert(1, 'paul') #1번자리에 paul 추가
print(myFriends)

['jamse', 'paul', 'Robert', 'Lisa', 'mary', 'Thomas']

In [57]:
myFriends.extend(['laura','betty']) # 배열에 배열 추가
print(myFriends)

['jamse', 'paul', 'Robert', 'Lisa', 'mary', 'Thomas', 'laura', 'betty']

# 튜플

In [60]:
tuple5 = (1,2,3,4)
#tuple5[1]= 5 #'tuple' object does not support item assignment

type(tuple5)

tuple

In [61]:
tuple5 = 9
type(tuple5)

int

In [62]:
tuple5 = 9,
type(tuple5)

tuple

In [63]:
del tuple5[1] #'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [71]:
# tuple지우기:tuple->list 변환 후 해당자료를 삭제 -> tuple 변환
tuple5=(1,2,3,4)
print(tuple5)
list6 = list(tuple5) #list로 변환 후 삭제
print(type(list6))
del list6[1]
print(tuple(list6))

(1, 2, 3, 4)
<class 'list'>
(1, 3, 4)

In [72]:
tuple6 = ('a','b','c','d','e','f')
tuple6.index('c')

2

In [73]:
tuple7 = ('a','b','a','d','e','f')
tuple7.count('a')

2

# 세트

In [76]:
# 세트 만들기;{}
set1={1,2,3}
set1a={1,2,3,4}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3, 4}

In [75]:
type(set1)

set

In [84]:
#세트의 교집합, 합집합, 차집합
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}
print(A.intersection(B)) #교집합
print(A&B)

{4, 5}
{4, 5}

In [85]:
#합집합
print(A.union(B))
print(A or B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5}

In [92]:
#차집합
print(A.difference(B))
print(A - B)
print(B.difference(A))
print(B-A)

{1, 2, 3}
{1, 2, 3}
{6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}

In [103]:
# 리스트, 튜플, 세트 간 타입 변환
lee = [1,2,3,4,5,6]
type(lee)

TypeError: 'list' object is not callable

# 딕셔너리

In [116]:
# 딕셔너리 만들기 : {key:value}
country_capital = {"영국":"런던","프랑스":"파리","독일":"베를린"}
print(country_capital)

{'영국': '런던', '프랑스': '파리', '독일': '베를린'}

In [117]:
type(country_capital)

TypeError: 'list' object is not callable

In [118]:
country_capital["영국"]

'런던'

In [119]:
dict_data1 = {1:"버스",2:"비행기",3:"택시",4:"자전거"}
dict_data1

{1: '버스', 2: '비행기', 3: '택시', 4: '자전거'}

In [120]:
dict_data1[3]

'택시'

In [121]:
mixed_dict = {1:10, 'dict_num':{1:10, 2:20}, "dict_list_tuple":{'A':[11,12,13],'B':(21,22,23),"dict_string":"이것은 책입니다"}}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13],
  'B': (21, 22, 23),
  'dict_string': '이것은 책입니다'}}

In [122]:
#딕셔너리 다루기
country_capital["독일"]="베를린"
country_captial

NameError: name 'country_captial' is not defined

In [123]:
fruit_code={"사과":101,"배":102,"딸기":103,"포도":104,"바나나":105}
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [124]:
type(fruit_code)

TypeError: 'list' object is not callable

In [125]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [126]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [127]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [128]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [129]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [130]:
print(fruit_code.items())
print(list(fruit_code.items()))

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])
[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]